{% block content %}
    <h1>{% block title %} users {% endblock %}</h1>
    {% for user in users %}
        <div>
            <h3>{{ user['id'] }}</h3>
            <i><p>{{ user['username'] }} </p></i>
            <i><p>{{ user['role'] }} </p></i>
            <i><p>{{ user['password'] }} </p></i>


        </div>
    {% endfor %}

    <h1>board</h1>
    {% for board in boards %}
        <div>
            <h3>{{ board['id'] }}</h3>
            <i><p>{{ board['name'] }} </p></i>
            <i><p>{{ board['privacy'] }} </p></i>
            <i><p>{{ board['user_auth'] }} </p></i>


        </div>
    {% endfor %}

    <h1>actuator</h1>
    {% for actuator in actuators %}
        <div>
            <h3>{{ actuator['id'] }}</h3>
            <i><p>{{ actuator['name'] }} </p></i>
            <i><p>{{ actuator['pin'] }} </p></i>
            <i><p>{{ actuator['board_id'] }} </p></i>
            <i><p>{{ actuator['type'] }} </p></i>
            <i><p>{{ actuator['state'] }} </p></i>
        </div>
    {% endfor %}

{% endblock %}